/* ----------------------------- OVERALL -------------------------------- */
*{
    margin: 0;
    padding: 0;
}






/* ----------------------------- HEADER -------------------------------- */
.header{
    height: 60px;
    background: antiquewhite;
    width: 100%;
    display: flow-root;
    position: fixed;
}

.logo{
    
}

.nav-btn{

}



/* ----------------------------- FOOTER -------------------------------- */