/* ----------------------------- OVERALL -------------------------------- */
*{
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

:root{
    --main-btn-color: rgb(252, 186, 3);
    --main-txt-color: rgb(99, 99, 99);
    --second-frame-color: rgb(54, 43, 0);
    --main-bg-color: #88BDBC;
    --tab-nav-color: #6E6558;
}

a{
    text-decoration: none;
}

.icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}


/* ----------------------------- HEADER -------------------------------- */
.header{
    height: 60px;
    background: var(--second-frame-color);
    width: 100%;
    display: flow-root;
    position: fixed;
    z-index: 10;
    margin-top: -6px;
}

.nav-logo{
    float: left;
    cursor: pointer;
}

.nav-btn{
    padding: 22px;
    float: right;
    cursor: pointer;
}

.nav-btn a{
    color: var(--main-btn-color);
}

.hamburger-btn{
    display: none;
    height: 35px;
    width: 35px;
    float: right;
    padding: 22px;
}

.bar1, .bar2, .bar3{
    width: content-box;
    height: 5px;
    margin-bottom: 5px;
    background: var(--main-btn-color);
    transition: 0.4s ease-in-out;
}

.mobile-menu{
    position: fixed;
    display: none;
}

.onVisible .bar1{
    transform: rotate(-45deg) translate(-9px, 6px);
}

.onVisible .bar2{
    opacity: 0;
}

.onVisible .bar3{
    transform: rotate(45deg) translate(-8px, -5px);
}

/* ----------------------------- MAIN PAGE -------------------------------- */
.main-page-container{
    height: 100vh;
    width: 100%;
    background: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container{
    width: 464px;
    height: 50%;
    position: relative;
}

.logo-container > img{
    position: absolute;
}

.p1{
    left: 230px;
}

.p2{
    right: 0;
    top: 135px;
}

.l2{
    top: 170px;
}

.logo{
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.setDown{
    top: 120px;
}

.setDown1{
    top: 255px;
}

.setDown2{
    top: 290px;
}


/* ----------------------------- ABOUT ME -------------------------------- */
.about-me-container{
    height: 300px;
    width: auto;
    border-top: 15px ridge black;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.face-container{
    height: 250px;
    width: 190px;
    background: #fdfdfd;
    clip-path: polygon(0 25%, 75% 0, 100% 0, 100% 75%, 25% 100%);
    border-right: 2px dashed gray;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(-20%);
    transition: all 1s ease-in-out;
}

.face-container > img{
    border-radius: 50%;
    height: 150px;
    width: 100px;
}

.about-details-container{
    height: 250px;
    width: 290px;
    background: #fdfdfd;
    clip-path: polygon(0 0, 25% 0, 100% 25%, 75% 100%, 0 75%);
    border-left: 2px dashed gray;
    opacity: 0;
    transform: translateX(20%);
    transition: all 1s ease-in-out;
}

.about-details-container > h3{
    margin: 20px;
}

.about-details-container > h4{
    margin: 20px;
}

.face-move{
    opacity: 1;
    transform: translateX(0);
}

.about-move{
    opacity: 1;
    transform: translateX(0);
}

/* ----------------------------- SKILLS -------------------------------- */
.skills-container{
    min-height: 300px;
    width: auto;
    border-bottom: 15px ridge black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 -24px 18px -28px rgba(0,0,0,0.75);
    flex-wrap: wrap;
    flex-direction: row;
}

.skills-box{
    height: 250px;
    width: 250px;
    background: #fdfdfd;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transform: translateY(-4px);
    box-shadow: 0 26px 54px -18px rgba(0,0,0,0.75);
    transition: all 0.3s ease-in-out;
}

.skills-box:hover{
    transform: scale(1.1);
    box-shadow: 0 31px 53px -23px rgba(0,0,0,0.75);
}

.skills-box > h3{
    color: var(--main-btn-color);
}

.skills-icons{
    width: 4em;
    height: 4em;
}

.skills-move{
    transform: translateY(0);
    opacity: 1;
}

/* ----------------------------- PORTFOLIO -------------------------------- */
.portfolio-container{
    min-height: 600px;
    width: auto;
    background: url("../resources/bird-view.jpg") center;
    background-size: cover;
}

.portfolio-section{
    background: rgba(110, 101, 88, 0.4);
    min-height: 600px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.portfolio-box{
    width: 250px;
    height: 250px;
    background: rgba(123, 123, 123, 0.5);
    margin: 25px;
    border-radius: 20px;
    box-shadow: -1px 3px 18px 0 rgba(0,0,0,0.75);
    transition: all 200ms ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--main-btn-color);
    opacity: 0;
    transform: translateY(-5px);
}

.portfolio-box:hover{
    box-shadow: -1px 3px 18px 5px rgba(0,0,0,0.75);
}

.portfolio-move{
    opacity: 1;
    transform: translateY(0);
}

/* ----------------------------- CONTACT -------------------------------- */
.contact-container{
    background: url("../resources/office.jpg") center;
    background-size: cover;
    height: 800px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-wrapper{
    width: 480px;
    height: 258px;
    perspective: 600px;
    opacity: 0;
    transform: translateY(-30px);
    transition: all 1s ease-in-out;
    display: flex;
    justify-content: center;
}

.contact-card{
    width: 100%;
    height: 100%;
    transition: all 1s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
}

.contact-card-front{
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 0 7px 20px -8px rgba(0,0,0,0.78);
    position: absolute;
    backface-visibility: hidden;
}

.contact-card-back{
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 0 7px 20px -8px rgba(0,0,0,0.78);
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.flip-card{
    transform: rotateY(180deg);
}

.contact-section{
    height: 86px;
    width: auto;
    display: flow-root;
}

.contact-icon{
    float: right;
    padding: 26px 30px;
}

.contact-label{
    float: left;
    z-index: 7;
    padding: 23px 0;
    width: 59%;
    background: rgb(221, 222, 218);
}

.name-contact-wrapper{
    width: available;
    padding: 0 23px;
    background: rgb(225, 226, 222);
}

.contact-crl-first{
    background: var(--main-bg-color);
    clip-path: polygon(100% 0, 66% 44%, 75% 100%, 100% 100%);
}

.contact-crl-second{
    background: #6e9a99;
    clip-path: polygon(100% 0, 75% 0, 60% 50%, 59% 50%, 59% 0, 0 0, 0 100%, 59% 100%, 59% 50%, 75% 100%, 100% 100%);
}

.contact-crl-third{
    background: #496968;
    clip-path: polygon(100% 0, 75% 0 , 66% 64%, 100% 100%);
}

.info-padding{
    padding: 23px 0 23px 5px;
}

.contact-move{
    transform: translateY(0);
    opacity: 1;
}

#email{
    font-size: 11px;
    color: aliceblue;
}

#github{
    font-size: 13px;
    color: aliceblue;
}

/* ----------------------------- FOOTER -------------------------------- */
.footer{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: var(--second-frame-color);
    color: var(--main-btn-color);
}

.copyright{
    text-align: center;
    padding-top: 35px;
}

/* ------$---------$------------ PHONE SCREEN -----------$---------$----------- */
@media all and (max-width: 582px) {
    /* ----------------------------- ABOUT ME -------------------------------- */
    .face-container{
        height: 160px;
        width: 100px;
        transform: translateX(-4%);
    }

    .face-container > img{
        border-radius: 50%;
        height: 100px;
        width: 75px;
    }

    .about-details-container{
        height: 160px;
        width: 190px;
        transform: translateX(4%);
    }

    .about-details-container > h4{
        font-size: 11px;
    }

    .face-move{
        opacity: 1;
        transform: translateX(0);
    }

    .about-move{
        opacity: 1;
        transform: translateX(0);
    }

    #email{
        width: 85px;
        height: 60px;
        word-break: break-word;
        font-size: 10px;
    }

    #github{
        width: 80px;
        height: 60px;
        word-break: break-word;
    }

    #number{
        font-size: 13px;
    }

    .contact-card{
        width: 90%;
    }

    .contact-wrapper{
        opacity: 1;
    }

    .nav-btn{
        display: none;
    }

    .logo-bottom{
        padding-top: 80px;
        width: 90%;
    }

    .logo-container{
        transform: scale(0.5);
    }

    .hamburger-btn{
        display: inline-block;
    }

    .mobile-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 53px;
        background: var(--tab-nav-color);
        z-index: 10;
    }

    .nav-mobile{
        display: inline-block;
        color: var(--main-btn-color);
    }

    .setInvisible{
        display: none;
    }

    .name-contact-wrapper{
        width: content-box;
    }

}
