/* ----------------------------- OVERALL -------------------------------- */
*{
    margin: 0;
    padding: 0;
}

:root{
    --main-btn-color: rgb(252, 186, 3);
    --main-txt-color: rgb(99, 99, 99);
    --second-frame-color: rgb(54, 43, 0);
    --main-bg-color: #88BDBC;
    --tab-nav-color: #6E6558;
}

a{
    text-decoration: none;
}


/* ----------------------------- HEADER -------------------------------- */
.header{
    height: 60px;
    background: var(--second-frame-color);
    width: 100%;
    display: flow-root;
    position: fixed;
    color: var(--main-btn-color);
    z-index: 10;
}

.logo{
    padding: 22px;
    float: left;
    cursor: pointer;
}

.nav-btn{
    padding: 22px;
    float: right;
    cursor: pointer;
}


/* ----------------------------- MAIN PAGE -------------------------------- */
.main-page-container{
    height: 100vh;
    width: 100%;
    background: var(--main-bg-color);
}


/* ----------------------------- ABOUT ME -------------------------------- */
.about-me-container{
    height: 500px;
    width: auto;
    border-top: 15px ridge black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face-container{
    height: 250px;
    width: 190px;
    background: #fafafa;
    clip-path: polygon(0 25%, 75% 0, 100% 0, 100% 75%, 25% 100%);
    border-right: 2px dashed gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face-container > img{
    border-radius: 50%;
    height: 150px;
    width: 100px;
}

.about-details-container{
    height: 250px;
    width: 290px;
    background: #fafafa;
    clip-path: polygon(0 0, 25% 0, 100% 25%, 75% 100%, 0 75%);
    border-left: 2px dashed gray;
}

.about-details-container > h3{
    margin: 20px;
}

.about-details-container > h4{
    margin: 20px;
}

/* ----------------------------- PORTFOLIO -------------------------------- */
.portfolio-container{
    height: 1200px;
    width: auto;
    background: url("../resources/bird-view.jpg") center;
    background-size: cover;
}

.portfolio-section{
    background: rgba(110, 101, 88, 0.4);
    height: 1200px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.portfolio-box{
    width: 180px;
    height: 180px;
    background: rgba(123, 123, 123, 0.5);
    margin: 10px;
    border-radius: 20px;
    box-shadow: -1px 3px 18px 0 rgba(0,0,0,0.75);
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.portfolio-box:hover{
    box-shadow: -1px 3px 18px 5px rgba(0,0,0,0.75);
}

/* ----------------------------- SKILLS -------------------------------- */



/* ----------------------------- CONTACT -------------------------------- */
.contact-container{
    background: url("../resources/office.jpg") center;
    background-size: cover;
    height: 800px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-wrapper{
    width: 480px;
    height: 258px;
    perspective: 600px;
}

.contact-card{
    width: 100%;
    height: 100%;
    transition: all 1s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
}

.contact-card-front{
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 0 7px 20px -8px rgba(0,0,0,0.78);
    position: absolute;
    backface-visibility: hidden;
}

.contact-card-back{
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 0 7px 20px -8px rgba(0,0,0,0.78);
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.flip-card{
    transform: rotateY(180deg);
}

.contact-section{
    height: 86px;
    width: auto;
    display: flow-root;
}

.contact-icon{
    float: right;
    padding: 26px 30px;
}

.contact-label{
    float: left;
    z-index: 7;
    padding: 23px 0;
    width: 59%;
    background: rgb(221, 222, 218);
}

.name-contact-wrapper{
    width: available;
    padding: 0 23px;
    background: rgb(225, 226, 222);
}

.contact-crl-first{
    background: var(--main-bg-color);
    clip-path: polygon(100% 0, 66% 44%, 75% 100%, 100% 100%);
}

.contact-crl-second{
    background: #6e9a99;
    clip-path: polygon(100% 0, 75% 0, 60% 50%, 59% 50%, 59% 0, 0 0, 0 100%, 59% 100%, 59% 50%, 75% 100%, 100% 100%);
}

.contact-crl-third{
    background: #496968;
    clip-path: polygon(100% 0, 75% 0 , 66% 64%, 100% 100%);
}

.icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.info-padding{
    padding: 23px 0 23px 5px;
}

/* ----------------------------- FOOTER -------------------------------- */
.footer{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: var(--second-frame-color);
    color: var(--main-btn-color);
}

.copyright{
    text-align: center;
    padding-top: 35px;
}
